<div class="p-3 mb-2 bg-secondary text-white text-center">

<h1>ADMINISTRADOR DE EDIFICIOS</h1>
<p>Este administrador ha sido creado para la prueba de Sence en plataforma Coding Dojo</p>
<br>
<br>
<br>
<br>

</div>
